:root {
  --main-font: playfair display;
  --supporting-font: "Poppins", sans-serif;
  --main-colour: #6836bc;
}

.hero {
  background: #f4f1fe;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--supporting-font);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
h1 {
  font-family: var(--main-font);
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 2;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-family: var(--supporting-font);
  font-size: 18px;
  font-weight: bold;
}
.about-section-content {
  margin: 30px;
}
.btn-branding {
  background: #6836bc;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

h2 {
  font-size: 55px;
  font-family: var(--main-font);
}
p {
  font-family: var(--supporting-font);
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  border: #6836bc solid 1px;
  border-radius: 8px;
  color: #6836bc;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-outline {
  padding: 30px 50px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 42px;
  }
  .hero h2 {
    padding: 60px 10px;
  }

  .project-outline {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
